body {
    margin: 5;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 200vh;
    margin: 5px auto;
    display: flex; /* Use flexbox for layout */
    justify-content: center; /* Center the containers horizontally */
    align-items: center; /* center the containers vertically */
    padding: 20px;
}

.left, .middle, .right, .half-left, .half-right {
    padding: 10px;
}
.left {
    flex: 25%;
    text-align: left; /* Align the links and title to the left */
}
.title {
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 30px; /* Add spacing below the title */
}
.left a {
    display: block; /* Display the links as blocks to create a vertical list */
    color: blue; /* Set the link color to blue */
    text-decoration: underline; /* Add underline to the links */
    font-size: 16px;
    margin-bottom: 12px; /* Add spacing between the links */
}
.middle {
    flex: 28%;
    text-align: center; /* Center the image horizontally within the container */
    margin-right: 15px;
    margin-left: 5px;
}
.middle img {
    max-width: 300px;
    display: block; /* Remove any default spacing for inline elements */
}
.right {
    flex: 47%;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}
.right p {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify; /* Align the text to the left */
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 0; /* Remove top padding from the paragraph */
}

.half-left {
    overflow: hidden;
}

.half-left iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.half-right {
    flex: auto;
    text-align: right;
    text-align: top;
    margin-right: 10px;
    margin-right: 10px;
}
.half-right p {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 0;
}
@media (max-width: 800px) {
    .container {
        flex-direction: column; /* Stack the containers vertically */
    }
    .row {
        flex-grow: 1; /* Rows will take up all available vertical space */
    }
}
